1. Dataframe

In [2]:
import numpy as np
import pandas as pd

In [3]:
contract = pd.Series(['Договор №1','Договор №2','Договор №3','Договор №4','Договор №5'], name='Договор')
customer = pd.Series(['Черкашин','Михайлов','Куприян','Езиков','Хрипунов'], name='Клиент')
date = pd.Series([2012,2013,2014,2015,2016], name='Год')
total_price = pd.Series([5000000,5500000,6000000,6500000,7000000], name='Сумма')

data = pd.concat([contract,customer,date,total_price], axis=1)
print('Структура данных: ', type(data).__name__)
data

Структура данных:  DataFrame

      Договор    Клиент   Год    Сумма
0  Договор №1  Черкашин  2012  5000000
1  Договор №2  Михайлов  2013  5500000
2  Договор №3   Куприян  2014  6000000
3  Договор №4    Езиков  2015  6500000
4  Договор №5  Хрипунов  2016  7000000